/* relative path! */
@font-face {
    font-family: 'BloodyTerror';
    src: url('../commonStyle/fonts/BloodyTerror.ttf') format('truetype');
} 
@font-face {
    font-family: 'Strange';
    src: url('../commonStyle/fonts/SomethingStrange.ttf') format('truetype');
} 
@font-face {
    font-family: 'Monster';
    src: url('../commonStyle/fonts/Mrmonster.ttf') format('truetype');
} 
@font-face {
    font-family: 'Normal';
    src: url('../commonStyle/fonts/YatraOne-Regular.ttf') format('truetype');
} 

/* common.css */
.body {
    /* font-family: 'Strange'; */
    margin: 0;
    padding: 0;
    /* background-color: #f3e0d4 !important; */
}

.button-header {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: 2vw;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    margin-left: 6vw;
    margin-right: 6vw;

}

.app-container {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: cornflowerblue;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-self: auto;
    top: 0;
    left: 0;
    width: auto;
}
