/* Collapsible container styling */
.collapsible-container {
    width: 100%;
    background-color: lightgray;
    
  }
  
  /* Button styling */
  .collapsible {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    text-align: left; /* Align text to the left */
    cursor: pointer;
  }
  
  /* Collapsible content styling */
  .content {
    display: none;
    width: 100%;
    padding: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Active state for the button */
  .collapsible.active {
    background-color: #45a049;
  }
  