#root {
  /* max-width: 1280px; */
  /* margin: 0; */
  /* padding: 2rem;  */
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo.react {
  height: 12em;
}

.logo.react.main {
  height: 8em;
  align-self: left;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em red);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#background-image{
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .5;
}

.contentContainer {
  position: relative;
  z-index: 1;
}