.brand
{
    font-family:Brush Script MT;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    font-size: 500%;
    text-align: left;
    line-height: 1;
    min-height: 1rem;
    color: black;
    transition: 0.6s;
}

.brand:hover
{
    color: green;
    background-color: transparent;

}

.top-banner
{
    font-family: Georgia;
    font-weight: bolder;
    font-size: 100%;
    text-align: center;
    color: white;
    line-height: 2;
    min-height: 2rem;
    background-color: black;

}



.top_bar{
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
  font-size: 93.75%;
  --rem: 16;
  color: lightgray;
  line-height: 1.5;
  background-color: gray;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}


button, input[type="click"]
{
    border: 2px solid transparent;
    border-radius: 400px;
    line-height: 1;
    padding: 0.375rem 0.75rem;
    text-align: right;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.jumplink
{
    font-family: Brush Script MT;
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    font-size: 200%;
    line-height: 1;
    min-height: 1rem;
    color: black;
}


body
{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('homepage11.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}







footer
{
    font-family: Georgia;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    font-size: 100%;
    text-align: center;
    color: white;
    line-height: 2;
    min-height: 2rem;
    background-color: black;
}



a:hover {
  color: green;
  background-color: transparent;
  text-decoration: none;
  transition: 0.6s;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}






/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  font-family:'Sofia';
  font-size: 1rem;
  font-weight: bolder;
  background-color: #555;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 180px;
  text-align: center

}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  color: purple;
  opacity: 1;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}




.likes:visited
{
    color: white;
    background-color: transparent;
}

.likes:hover
{

  color: red;
  background-color: transparent;
  transition: 0.6s;

}